#addForm{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

html{
background-color:blue;
}


.postsDiv{
width:70%;
height:40px;
margin-right: auto;
    margin-left: auto;

}